body {
    background-color:#AFEEEE;
    display: grid;
    place-items: center;
    margin: 0;
}

.container {
    border: snow dotted 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 385px;
    width: 575px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 150px;
}

.team-score {
    font-family: 'Bungee Shade', cursive;
    font-size: 25px;
    text-align: center;
}

h1 {
    display: grid;
    place-items: center;

    background-color: black;
    border-radius: 5px;
    color: #F94F6D;
    height: 120px;
    width: 155px;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.add {
    background-color:#F94F6D;
    border: black solid 2px;
    border-radius: 8px;
    color: snow;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin: 5px 3px;
    padding: 10px;
    text-align: center;
    width: 45px
}

button {
    kerning: 3px;
}

.reset {
    background-color: snow;
    border: black solid 2px;
    border-radius: 8px;
    font-family: 'Bungee Shade', cursive;
    padding: 20px;
    color: #F94F6D;
}